# Database
DB_ASYNC_DSN=postgresql+psycopg://postgres:password@localhost:5432/postgres

# Agent
AGENT_MODEL=openai:gpt-4o-mini

# Third party keys
OPENAI_API_KEY='****'

# Langsmith keys
LANGSMITH_API_KEY='****'
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="Project name"
