[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
flake8 = "*"
bandit = "*"
black = "*"
fastapi = "*"
uvicorn = {version = "==0.20.0", extras = ["standard"]}
pytest = "==7.2.1"
pytest-env = "==0.8.1"
pytest-asyncio = "==0.20.3"
rich = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.11"
